
langchain-google-genai
langchain-community
langchain-core
langchain
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-huggingface  

guardrails-ai 
openai
chromadb

sentence-transformers

python-dotenv

streamlit
gTTS